Repository oldschoolcool2/power-analysis-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-antipatterns, check-dependencies

check-antipatterns:
  name: Check for R & Shiny antipatterns
  entry: Rscript check_antipatterns.R --file
  language: system
  pass_filenames: true
  verbose: true

check-dependencies:
  name: Check R dependencies
  entry: Rscript check_dependencies.R
  language: system
  pass_filenames: false
  verbose: true

docs(testing): add code coverage quick start guide
  COVERAGE_QUICKSTART.md
Due: none

feat(power-curves): complete interactive power curves for all tabs
  app.R
Due: check-antipatterns, check-dependencies

refactor: implement Shiny modules and helper functions for code deduplication
  R/helpers/001-plot-helpers.R
  R/helpers/002-result-text-helpers.R
  R/input_components.R
  R/modules/001-missing-data-module.R
  REFACTORING_CHECKLIST.md
  REFACTORING_SUMMARY.md
  docs/002-how-to-guides/005-using-shiny-modules-and-helpers.md
  docs/004-explanation/003-code-duplication-and-refactoring-analysis.md
  docs/004-explanation/003-comprehensive-feature-analysis-2025.md
  docs/README.md
Due: check-antipatterns, check-dependencies

test(e2e): add comprehensive shinytest2 E2E testing and remove coverage infrastructure
  .Rbuildignore
  .covrignore
  DESCRIPTION
  DUPLICATION_ANALYSIS_SUMMARY.txt
  TESTING.md
  docs/002-how-to-guides/005-code-coverage-tracking.md
  docs/004-explanation/004-testing-strategy-and-shinytest2.md
  renv.lock
  renv/activate.R
  run_coverage.sh
  tests/README.md
  tests/coverage_summary.R
  tests/run_coverage.R
Due: check-antipatterns, check-dependencies

refactor: apply Shiny modules and helpers to Power (Single) analysis
  app.R
Due: check-antipatterns, check-dependencies

docs: mark Tab 1 (Power Single) as completed in refactoring checklist
  REFACTORING_CHECKLIST.md
Due: none

refactor: apply Shiny modules and helpers to Sample Size (Single) analysis
  app.R
Due: check-antipatterns, check-dependencies

docs: mark Tab 2 (Sample Size Single) as completed in refactoring checklist
  REFACTORING_CHECKLIST.md
Due: none

refactor: apply Shiny helpers to Power (Two-Group) analysis
  app.R
Due: check-antipatterns, check-dependencies

docs: mark Tab 3 (Power Two-Group) as completed in refactoring checklist
  REFACTORING_CHECKLIST.md
Due: none

refactor: apply Shiny modules and helpers to Sample Size (Two-Group) analysis
  R/helpers/002-result-text-helpers.R
  app.R
Due: check-antipatterns, check-dependencies

docs: mark Tab 4 (Sample Size Two-Group) as completed in refactoring checklist
  REFACTORING_CHECKLIST.md
Due: none

refactor: apply Shiny helpers to Power (Survival) analysis
  R/helpers/002-result-text-helpers.R
  app.R
Due: check-antipatterns, check-dependencies

docs: mark Tab 5 (Power Survival) as completed in refactoring checklist
  REFACTORING_CHECKLIST.md
Due: none

refactor: apply Shiny modules and helpers to Sample Size (Survival) analysis
  app.R
Due: check-antipatterns, check-dependencies

docs: mark Tab 6 (Sample Size Survival) as completed in refactoring checklist
  REFACTORING_CHECKLIST.md
Due: none

refactor: apply Shiny helpers to Matched Case-Control analysis
  app.R
Due: check-antipatterns, check-dependencies

docs: mark Tab 7 (Matched Case-Control) as completed in refactoring checklist
  REFACTORING_CHECKLIST.md
Due: none

feat: create create_continuous_power_result_text() helper function
  R/helpers/002-result-text-helpers.R
Due: check-antipatterns, check-dependencies

refactor: apply Shiny helpers to Power (Continuous) analysis
  app.R
Due: check-antipatterns, check-dependencies

docs: mark Tab 8 (Power Continuous) as completed in refactoring checklist
  REFACTORING_CHECKLIST.md
Due: none

refactor: apply Shiny helpers to Sample Size (Continuous) analysis
  app.R
Due: check-antipatterns, check-dependencies

docs: mark Tab 9 (Sample Size Continuous) as completed in refactoring checklist
  REFACTORING_CHECKLIST.md
Due: none

refactor: apply Shiny helpers to Non-Inferiority analysis
  app.R
Due: check-antipatterns, check-dependencies

docs: mark Tab 10 (Non-Inferiority) as completed in refactoring checklist
  REFACTORING_CHECKLIST.md
Due: none

refactor: apply Shiny helpers to VIF Calculator
  app.R
Due: check-antipatterns, check-dependencies

docs: mark Tab 11 (VIF Calculator) as completed in refactoring checklist
  REFACTORING_CHECKLIST.md
Due: none

docs: add comprehensive guide for adding new analysis types
  docs/002-how-to-guides/001-contributing.md
  docs/002-how-to-guides/008-add-new-analysis-type.md
  docs/README.md
Due: none

feat(propensity): implement Li et al. (2025) propensity score sample size methods
  PROPENSITY_SCORE_IMPLEMENTATION_SUMMARY.md
  R/help_content.R
  R/helpers/003-propensity-score-helpers.R
  R/sidebar_ui.R
  app.R
  docs/004-explanation/003-comprehensive-feature-analysis-2025.md
Due: check-antipatterns, check-dependencies

feat(missing-data): implement MI sample size with efficiency comparison (Tier 1 Feature NEW 2)
  R/helpers/002-result-text-helpers.R
  app.R
  docs/004-explanation/003-comprehensive-feature-analysis-2025.md
  docs/004-explanation/004-mi-sample-size-implementation.md
  docs/004-explanation/005-missing-data-analysis.md
Due: check-antipatterns, check-dependencies

feat: add golem, config, and pkgload to package dependencies
  DESCRIPTION
Due: none

feat: add initial NAMESPACE file
  NAMESPACE
Due: none

feat: add run_app() function to launch application
  R/run_app.R
Due: check-antipatterns, check-dependencies

feat: copy app.R to inst/ for package structure
  inst/app.R
Due: check-antipatterns, check-dependencies

docs: add comprehensive golem migration guide (Phase 1 complete)
  docs/002-how-to-guides/009-reorganize-as-r-package-with-golem.md
  renv.lock
Due: check-dependencies

feat: add golem-config.yml configuration file
  inst/golem-config.yml
Due: none

refactor: complete Phase 1 - create core package structure
  R/app_config.R
  R/app_server.R
  R/app_ui.R
  R/run_app.R
Due: check-antipatterns, check-dependencies

feat: create module scaffolds for all 11 analysis tabs
  R/mod_01_single_proportion.R
  R/mod_02_power_two_group.R
  R/mod_03_sample_size_two_group.R
  R/mod_04_power_survival.R
  R/mod_05_sample_size_survival.R
  R/mod_06_matched_case_control.R
  R/mod_07_power_continuous.R
  R/mod_08_sample_size_continuous.R
  R/mod_09_non_inferiority.R
  R/mod_10_vif_calculator.R
  R/mod_11_propensity_score.R
Due: check-antipatterns, check-dependencies

WIP: create Tab 1 module template (UI complete, server partial)
  R/app_server.R
  R/app_ui.R
  R/mod_01_single_proportion.R
Due: check-antipatterns, check-dependencies

docs: add Phase 2 migration progress report
  PHASE2_PROGRESS.md
Due: none

Path conditions:
  check-antipatterns: any of: \.R$
  check-dependencies: any of: \.(R|lock)$
